
@(Html.X().ResourceManager())
@(Html.X().Viewport()
            .ID("Viewp")
            .WidthSpec("100%")
            .HeightSpec("100%")           
            //.OverflowX(Overflow.Scroll)
            //.OverflowY(Overflow.Scroll)
            .Layout(LayoutType.Border)
            .Items(
                    Html.X().Panel()
                        .Region(Region.South)
                        //.Title("Prime Sample")
                        .Collapsible(true)
                        .HeightSpec("60%")
                        .Header(false)
                        //.Frame(true)
                        .WidthSpec("100%")
                        //.MinWidth(175)
                        //.MaxWidth(400)
                        .MarginSpec("0 0 0 0")
                        .Content(@<div><img class="login-banner"/></div>),


                     Html.X().Panel()
                        .Region(Region.North)
                        //.Title("Prime Sample")
                        .Collapsible(true)
                        //.Frame(true)
                        .OverflowX(Overflow.Auto)
                        .OverflowY(Overflow.Auto)
                        .HeightSpec("40%")
                        .Header(false)
                        .MarginSpec("0 0 0 0")
                        .WidthSpec("100%")
                         //.Cls("Transparet-Background")
                        .Content(@<div>@Html.Partial("_LoginMainPartial")</div>)
                      
            )
)